
{% extends 'home/main.html' %} {% load static %}
{% block head %} 

    <link rel="stylesheet" href="{% static 'assets/css/vendor/vendor.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/plugins/plugins.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/style.min.css' %}" />


{% endblock %}

{% block content %} 
    <!-- Hero Slider Start -->
    <section class="section position-relative">
        <!-- hero-shape one start -->
        <div class="hero-shape1">
            <img src="static/assets/images/slider/shape/shape1.png" alt="shape" />
        </div>
        <!-- hero-shape one end -->
        <!-- hero-shape two start -->
        <div class="hero-shape2">
            <img src="static/assets/images/slider/shape/shape2.png" alt="shape" />
        </div>
        <!-- hero-shape two end -->
        <!-- hero-slider start -->
        <div class="hero-slider">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="hero-slide-content">
                            <h2 class="title animated">
                                Yorqin kelajak<br />
                sari qo'yilgan
                                <span class="text-decoration-underline">birinchi qadamingiz</span>
                                <br />
                bilan tabriklaymiz
                            </h2>
                            <a href="single-service.html" class="btn btn-lg animated delay1 btn-dark btn-hover-dark me-4 mb-3 mb-sm-0">Get Started</a>
                            <a href="marketing-policy.html" class="btn btn-lg animated delay2 btn-secondary btn-hover-secondary mb-3 mb-sm-0">Book a Meeting</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="hero-img scene mt-10 mt-lg-0">
                            <div data-depth="0.2">
                                <img class="animated" src="static/assets/images/slider/slide2.png" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- hero-slider end -->
    </section>
    <!-- Hero Slider End -->

    <!-- Brand Slider Satrt -->
    <div class="brand-section section-py">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="brand-carousel">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <!-- single-brand Start -->
                                <div class="swiper-slide">
                                    <div class="single-brand">
                                        <a class="thumb" href="#"><img src="static/assets/images/brand-logo/1.png" alt="brand logo"></a>
                                    </div>
                                </div>
                                <!-- single-brand End -->

                                <!-- single-brand Start -->
                                <div class="swiper-slide">
                                    <div class="single-brand">
                                        <a class="thumb" href="#"><img src="static/assets/images/brand-logo/2.png" alt="brand logo"></a>
                                    </div>
                                </div>
                                <!-- single-brand End -->

                                <!-- single-brand Start -->
                                <div class="swiper-slide">
                                    <div class="single-brand">
                                        <a class="thumb" href="#"><img src="static/assets/images/brand-logo/3.png" alt="brand logo"></a>
                                    </div>
                                </div>
                                <!-- single-brand End -->

                                <!-- single-brand Start -->
                                <div class="swiper-slide">
                                    <div class="single-brand">
                                        <a class="thumb" href="#"><img src="static/assets/images/brand-logo/4.png" alt="brand logo"></a>
                                    </div>
                                </div>
                                <!-- single-brand End -->
                            </div>
                        </div>
                        <div class="swiper-pagination d-none"></div>
                        <!-- <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Brand Slider End -->

    <!-- Feature section Start -->
    <section class="feature-section section-pb position-relative">
        <img class="path-img" src="static/assets/images/feature/shape.png" alt="images_not_found">
        <div class="container custom-container">
            <div class="row g-0 align-items-center">
                <!-- title section start -->
                <div class="col-xl-6 col-lg-8 mx-auto">
                    <div class="title-section mb-3 text-center">
                        <span class="sub-title">Kelajak sari</span>
                        <h3 class="title">
                            Biz bilan <span class="text-primary">IT olamiga</span> sayohat qilishga toyyormisiz?
                        </h3>
                        <p class="mb-10">
                            Yorqin kelajak sari qo'yilgan birinchi qadamingiz bilan tabriklaymiz
                        </p>
                        <a href="single-service.html" class="btn btn-lg btn-dark btn-hover-dark">Get Started</a>
                    </div>
                </div>
                <!-- title section end -->

                <!-- feature start -->
                <div class="col-12">
                    <div id="grid" class="grid row mb-n7">
                        <div class="grid-item mb-7">
                            <div class="feature-card bg-light">
                                <span class="card-shape card-shape-light"></span>
                                <span class="card-shape card-shape-dark"></span>
                                <img class="logo" src="static/assets/images/feature/logo/1.png" alt=" feature logo" />
                                <h4 class="title my-6">
                                    <a href="single-service.html">Kompyuter savodxonligi</a>
                                </h4>
                                <p>
                                  
                                </p>
                            </div>
                        </div>
                        <div class="grid-item card-mt-75 mb-7">
                            <div class="feature-card bg-light active">
                                <span class="card-shape card-shape-light"></span>
                                <span class="card-shape card-shape-dark"></span>
                                <img class="logo" src="static/assets/images/feature/logo/2.png" alt=" feature logo" />
                                <h4 class="title my-6">
                                    <a href="single-service.html">Web dasturlash</a>
                                </h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                        <div class="grid-item mb-7">
                            <div class="feature-card bg-light">
                                <span class="card-shape card-shape-light"></span>
                                <span class="card-shape card-shape-dark"></span>
                                <img class="logo" src="static/assets/images/feature/logo/3.png" alt=" feature logo" />
                                <h4 class="title my-6">
                                    <a href="single-service.html">Android dasturlash</a>
                                </h4>
                                <p>
                                   
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="grid" class="grid row mb-n7">
                        <div class="grid-item mb-7">
                            <div class="feature-card bg-light">
                                <span class="card-shape card-shape-light"></span>
                                <span class="card-shape card-shape-dark"></span>
                                <img class="logo" src="static/assets/images/feature/logo/1.png" alt=" feature logo" />
                                <h4 class="title my-6">
                                    <a href="single-service.html">Rus tili</a>
                                </h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                        <div class="grid-item card-mt-75 mb-7">
                            <div class="feature-card bg-light active">
                                <span class="card-shape card-shape-light"></span>
                                <span class="card-shape card-shape-dark"></span>
                                <img class="logo" src="static/assets/images/feature/logo/2.png" alt=" feature logo" />
                                <h4 class="title my-6">
                                    <a href="single-service.html">Ingliz tili</a>
                                </h4>
                                <p>
                                </p>
                            </div>
                        </div>
                        <div class="grid-item mb-7">
                            <div class="feature-card bg-light">
                                <span class="card-shape card-shape-light"></span>
                                <span class="card-shape card-shape-dark"></span>
                                <img class="logo" src="static/assets/images/feature/logo/3.png" alt=" feature logo" />
                                <h4 class="title my-6">
                                    <a href="single-service.html">Best Service</a>
                                </h4>
                                <p>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- feature end -->
            </div>
        </div>

    </section>
    <!-- Feature section End -->

    <!-- About Us Section Start -->
    <section class="about-us position-relative" id="about-us">
        <div class="container">
            <div class="row mb-n7">
                <!-- tile section start -->
                <div class="col-xl-5 col-lg-6 mb-7">
                    <div class="title-section">
                        <span class="sub-title">BIZ HAQIMIZDA</span>
                        <h3 class="title">
                            <span class="text-primary">O’zbek dasturchi</span>
                            <br class="d-none d-xl-block" />
              Freelance team
                        </h3>
                        <span class="date-meta">O'zbek Frilanserini yuqori darajaga olib chiqish <span class="hr"></span>
                        </span>
                        <p class="mb-5">
                            O‘zbekistonlik dasturchilarni frilanser sohasida ishga joylashtirish
                        </p>
                        <p class="high-light mb-8">
                            O'zbek dasturchilarni jahon bozoriga olib chiqish
                        </p>
                            <h4><span class="text-primary">Ish sharoitlari</span></h4>
                            <p class="mb-5">
                                Online / Offline
                            </p>
                    </div>
                </div>
                <!-- title section end -->
                <!-- about start -->
                <div class="col-xl-6 order-first order-lg-last col-lg-6 mb-7 offset-xl-1">
                    <div class="about-photo scene text-center text-lg-left">
                        <div data-depth="0.2">
                            <img src="static/assets/images/about/1.png" alt="photo" />
                        </div>
                    </div>
                </div>
                <!-- about end -->
            </div>
        </div>
        <!-- about-shape satrt -->
        <img class="about-shape" src="static/assets/images/about/shape.png" alt="bg-shape" />
        <!-- about-shape end -->
    </section>
    <!-- About Us Section End -->

    <!-- Service Section Start -->
    <section class="service-section section-pt position-relative" id="services">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-8 mx-auto">
                    <div class="title-section mb-10 pb-10 text-center">
                        <span class="sub-title">XIZMATLAR</span>
                        <h3 class="title">
                            Bizning <span class="text-primary">xizmatlar</span>
                        </h3>
                        <p style="display: flex;">
                           <h5><span class="text-primary" style="font-weight: 900;">Bir jamoa...Bir maqsad...Bir harakat...</span></h5><br>
                        </p>
                    </div>
                </div>
            </div>

            <!-- second row start -->
            <div class="row mb-n7 align-items-center">
                <div class="col-md-6 col-xl-4 mb-7">
                    <div class="service-media-wrapper media-spacing-left">
                        <div class="service-media">
                            <img class="logo" src="static/assets/images/service/icon/1.png" alt=" service logo" />
                            <div class="service-media-body">
                                <h4 class="title">
                                    <a href="digital-solution.html">Freelance platformalar</a>
                                </h4>
                                <p>
                                    <!-- Pleasure rationally service
                                    are anyone who pursues -->
                                </p>
                            </div>
                        </div>
                        <div class="service-media">
                            <img class="logo" src="static/assets/images/service/icon/2.png" alt=" service logo" />
                            <div class="service-media-body">
                                <h4 class="title">
                                    <a href="business-plan.html">Tajriba 6+</a>
                                </h4>
                                <p>
                                    <!-- Pleasure rationally extremy
                                    are anyone who loves -->
                                </p>
                            </div>
                        </div>
                       
                    </div>
                </div>

                <div class="col-xl-4 mb-7 order-md-1 order-xl-0">
                    <div class="service-media-img text-center">
                        <img src="static/assets/images/service/media.png" alt="images_not_found">
                    </div>
                </div>
                <div class="col-md-6 col-xl-4 mb-7">
                    <div class="service-media-wrapper media-spacing-right">
                        <div class="service-media">
                            <img class="logo" src="static/assets/images/service/icon/3.png" alt=" service logo" />
                            <div class="service-media-body">
                                <h4 class="title">
                                    <a href="creative-strategy.html">Top 10 platformalar</a>
                                </h4>
                                <p>
                                    <!-- Pleasure rationally service
                                    are anyone who loves -->
                                </p>
                            </div>
                        </div>
                        <div class="service-media">
                            <img class="logo" src="static/assets/images/service/icon/4.png" alt=" service logo" />
                            <div class="service-media-body">
                                <h4 class="title"><a href="branding.html">tugallangan ishlar 6,000+ </a></h4>
                                <p>
                                    <!-- Pleasure rationally service
                                    are anyone who loves -->
                                </p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <!-- second row end -->
        </div>

    </section>
    <!-- Service Section ENd -->

    <!-- Testimonial Section Satrt -->
    <section class="testimonial-section section-py position-relative">
        <img class="tetimonial-shape" src="static/assets/images/testimonial/shape.png" alt="">
        <div class="container">
            <div class="row mb-n7">
                <div class="col-xl-7 col-lg-6 mb-7">
                    <div class="testimonial-photo scene mt-10 mt-lg-0">
                        <div data-depth="0.2">
                            <img src="static/assets/images/testimonial/1.png" alt="photo" />
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-6 mb-7">
                    <div class="title-section">
                        <span class="sub-title">TESTIMONIALS</span>
                        <h3 class="title">
                            Don’t Believe us Check
                            <span class="text-primary">Clients</span> word
                        </h3>
                        <h5 class="happy-customer">
                            More over <span class="font-weight-bold">2500</span> happy
                            customer
                        </h5>
                    </div>
                    <!-- testimonial-slider start -->
                    <div class="testimonial-carousel position-relative">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <!-- swiper-slide satrt -->
                                <div class="testimonial-slide-item swiper-slide">
                                    <span class="quote zmdi zmdi-quote"></span>
                                    <p class="testimonial-text mt-2 mb-5">
                                        Pleasure rationally encounter consequences that are
                                        extremely painful. Nor again is there anyone who loves or
                                        pursues or desires maintain
                                    </p>
                                    <div class="avater d-flex">
                                        <div class="avater-profile">
                                            <img src="static/assets/images/testimonial/avater.png" alt="avater" />
                                        </div>
                                        <div class="avater-info">
                                            <p>David Loyed</p>
                                            <span>CEO, Omex</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- swiper-slide end -->
                                <!-- swiper-slide satrt -->
                                <div class="testimonial-slide-item swiper-slide">
                                    <span class="quote zmdi zmdi-quote"></span>
                                    <p class="testimonial-text mt-2 mb-5">
                                        Pleasure rationally encounter consequences that are
                                        extremely painful. Nor again is there anyone who loves or
                                        pursues or desires maintain
                                    </p>
                                    <div class="avater d-flex">
                                        <div class="avater-profile">
                                            <img src="static/assets/images/testimonial/2.png" alt="avater" />
                                        </div>
                                        <div class="avater-info">
                                            <p>John Loyed</p>
                                            <span>CEO, Omex</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- swiper-slide end -->
                                <!-- swiper-slide satrt -->
                                <div class="testimonial-slide-item swiper-slide">
                                    <span class="quote zmdi zmdi-quote"></span>
                                    <p class="testimonial-text mt-2 mb-5">
                                        Pleasure rationally encounter consequences that are
                                        extremely painful. Nor again is there anyone who loves or
                                        pursues or desires maintain
                                    </p>
                                    <div class="avater d-flex">
                                        <div class="avater-profile">
                                            <img src="static/assets/images/testimonial/avater.png" alt="avater" />
                                        </div>
                                        <div class="avater-info">
                                            <p>David Loyed</p>
                                            <span>CEO, Omex</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- swiper-slide end -->
                            </div>
                        </div>
                        <!-- swiper navigation -->
                        <div class="swiper-button-prev">
                            <i class="icofont-rounded-left"></i>prev
                        </div>
                        <div class="swiper-button-next">
                            Next<i class="icofont-rounded-right"></i>
                        </div>
                    </div>

                    <!-- testimonial-slider end -->
                </div>

            </div>
        </div>
    </section>
    <!-- Testimonial Section End -->

    <!-- Funfact Section Start -->
    <section class="funfact-section section-pb position-relative mt-10 mt-lg-0">
        <div class="container">
            <div class="row mb-n7">
                <!-- fanfact satrt -->
                <div class="col-md-3 col-6 mb-7">
                    <div class="fanfact text-md-left text-center">
                        <span class="title"> <span class="counter">1200</span>+</span>
                        <h6 class="sub-title">Projects done</h6>
                    </div>
                </div>
                <!-- fanfact end -->
                <!-- fanfact satrt -->
                <div class="col-md-3 col-6 mb-7">
                    <div class="fanfact text-center">
                        <span class="title"><span class="counter">2354</span>+</span>
                        <h6 class="sub-title">Happy Clients</h6>
                    </div>
                </div>
                <!-- fanfact end -->
                <!-- fanfact satrt -->
                <div class="col-md-3 col-6 mb-7">
                    <div class="fanfact text-center">
                        <span class="title"> <span class="counter">3299</span>+</span>
                        <h6 class="sub-title">Cup Coffee</h6>
                    </div>
                </div>
                <!-- fanfact end -->
                <!-- fanfact satrt -->
                <div class="col-md-3 col-6 mb-7">
                    <div class="fanfact text-md-right text-center">
                        <span class="title"><span class="counter">101</span>+</span>
                        <h6 class="sub-title">Award Wins</h6>
                    </div>
                </div>
                <!-- fanfact end -->
            </div>
        </div>
        <svg class="funfact-svg" id="funfact" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 535">
            <path class="funfact-path" d="M1950,327.309S1666,1.64,1336,111.4,906,290.324,671,164.377,120.868,57.118-64,225.351" />
            <path id="Shape_5_copy" data-name="Shape 5 copy" class="funfact-path" d="M1919.04,532.448s-223.79-369.607-567.75-318.167-454.362,102.4-664.214-62.038S163.566-47.917-47.473,86.059" />
        </svg>
    </section>
    <!-- Funfact Section End -->

    <!-- Team Section Start -->
    <section class="team-section section-pb overflow-hidden" id="team-section">
        <div class="container position-relative">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <div class="title-section">
                        <span class="sub-title">TEAM</span>
                        <h3 class="title">
                            People, <span class="text-primary">Behind</span> the Screen
                        </h3>
                        <p class="mb-5">
                            Pleasure rationally encounter consequences that are extremely
                            painful. Nor again is there anyone who loves or pursues or
                            desires to obtain
                        </p>
                        <p class="high-light mb-8">
                            Pleasure rationally encounter consequences that are extremely
                            painful. Nor again is there
                        </p>
                        <a href="team.html" class="btn btn-lg btn-dark btn-hover-dark">View more</a>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="new-team-members">
                        <div class="new-team-members-list">
                            <img src="static/assets/images/team/rounded-img1.png" alt="images">
                            <h3 class="title"><a href="team.html">Cristopher Williams</a></h3>
                            <span>Head of Idea</span>
                        </div>
                        <div class="new-team-members-list">
                            <img src="static/assets/images/team/rounded-img2.png" alt="images">
                            <h3 class="title"><a href="team.html">Rebeca Smith</a></h3>
                            <span>Head of HR</span>
                        </div>
                        <div class="new-team-members-list">
                            <img src="static/assets/images/team/rounded-img3.png" alt="images">
                            <h3 class="title"><a href="team.html">Ricardo Powel</a></h3>
                            <span>Head of Development</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Team Section End -->

    <!-- Blog Section Start-->
    <section class="blog-section section-pb">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-4">
                    <div class="title-section mb-lg-10 pb-lg-1">
                        <span class="sub-title">BLOG POST</span>
                        <h3 class="title mb-lg-0">
                            Blogdan eng so'nggi <span class="text-primary">post</span>
                        </h3>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-6">
                    <div class="title-section pl-xl-5">
                        <p class="mt-lg-10 pt-lg-3 mb-10 mb-lg-0">
                            Agar baxtli yashashni istasangiz baxtni maqsadga bog’lang, odamlar yoki narsalarga emas
                        </p>
                    </div>
                </div>
            </div>

            <div class="row mb-n7">
                <!-- single blog start -->
                {% for post in posts %}
                <div class="col-lg-4 col-sm-6 mb-7">
                    <div class="blog-card">
                        <div class="thumb bg-light text-center">
                            <a href="">
                                <img src="{{post.image.url}}" alt="img" />
                            </a>
                        </div>
                        <div class="blog-content">
                            <a href="#"><span class="blog-meta">{{post.user.first_name}} - {{post.update_date|date:"d M,  Y"}}</span></a>
                            <h3 class="title">
                                <a href="">{{post.title}}</a>
                            </h3>
                        </div>
                    </div>
                </div>

              {% endfor %}
            </div>
        </div>
    </section>
    <!-- Blog Section End-->

    <!-- News letter Section Start -->

    <section class="news-letter-section section-pb">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-xl-6 mx-auto">
                    <div class="title-section mb-10 text-center">
                        <span class="sub-title">Yangililar</span>
                        <h3 class="title mb-0">
                            <span class="text-primary">Axborot byulleteniga</span> obuna bo'ling &
                            <br class="d-none d-xl-block" />so'nggi yangilanishni oling...
                        </h3>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-10 mx-auto">
                    <form id="mc-form" class="news-letter-form d-flex" method="POST">{% csrf_token %}
                        <input id="mc-email" class="form-control" type="email" placeholder="Emailingizni kiriting..." name="email" required="" />
                        <button class="search-btn" type="submit">Obuna boʻlish</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- News letter Section End -->

{% endblock %}