{% extends 'home/main.html' %} {% load static %}
{% block head %}
    <!-- <link rel="stylesheet" href="assets/css/vendor/vendor.min.css" />
    <link rel="stylesheet" href="assets/css/plugins/plugins.min.css" />
    <link rel="stylesheet" href="assets/css/style.min.css" /> -->

    {% endblock %}
    {% block content %}
    <!-- Banner Section Start -->

    <section class="banner-section position-relative">
        <img class="banner-shape" src="/static/assets/images/banner/shape1.png" alt="shape" />
        <div class="container">
            <div class="row">
                <!-- Banner-Content Start -->
                <div class="col-md-6">
                    <div class="banner-content banner-padding">
                        <h3 class="title">Blog Post</h3>
                        <p>
                            Pleasure rationally encounter consequences <br />
              are extremely painful great oppurtunity
                        </p>
                    </div>
                </div>
                <!-- Banner-Content End -->

                <!-- Banner-Content Start -->
                <div class="col-md-6 mt-7 mt-md-0">
                    <div class="banner-content scene banner-img">
                        <div data-depth="0.2">
                            <img src="/static/assets/images/blog/banner.png" alt="img" />
                        </div>
                    </div>
                </div>
                <!-- Banner-Content End -->
            </div>
        </div>
    </section>
    <!-- Banner Section End -->

    <!-- Blog Section Start -->
    <section class="blog-section section-py">
        <div class="container">
            <div class="row mb-n7">
<!-- single blog start -->
{% for post in posts %}
<div class="col-lg-4 col-sm-6 mb-7">
    <div class="blog-card">
        <div class="thumb bg-light p-0 text-center">
            <a href="{% url 'blog_detail' post.slug %}">
                <img src="{{post.image.url}}" alt="img" />
            </a>
        </div>
        <div class="blog-content">
            <span class="blog-meta">{{post.user.first_name}} - {{post.create_date|date:"d M, Y"}}</span>
            <h3 class="title">
                <a href="{% url 'blog_detail' post.slug %}">{{post.title}}</a>
            </h3>
        </div>
    </div>
</div>
{% endfor %}
<!-- single blog end -->
            </div>
            {% if posts.has_other_pages %}
            <div class="pagination justify-content-center">
                {% if posts.has_previous %}
                <a href="?page={{ posts.previous_page_number }}"><i class="fa-solid fa-angles-left"></i></a> {% endif %} 
                {% for p in posts.paginator.page_range %} 
                {% if pos.number == p %}
                <a href="#" class="active">{{ p }}</a> 
                {% else %}
                <a href="?page={{ p }}">{{ p }}</a> {% endif %} 
                {% endfor %} 
                {% if posts.has_next %}
                <a href="?page={{ posts.next_page_number }}"><i class="fa-solid fa-angles-right"></i></a> {% endif %}
            </div>
            {% endif %}
        
    </section>
  

    {% endblock %}

