{% extends 'home/main.html' %} {% load static %}

{% block head %}
<style>
    .likes{
        display: flex;
        align-items: center;
        justify-content: end;
    }
    .like:hover, .dislike:hover{
font-weight: 600;
    }
    .like, .dislike{
        padding: 5px 10px;
        cursor: pointer;
        user-select: none;
    }
    .like.has{
        border-bottom: 1px solid blue;
    }
    .dislike.has{
        border-bottom: 1px solid red;
    }
    .has {
        font-weight: 900;
    }
    .like{
        color: blue;
    }
    .dislike{
        color: red;
    }
</style>
{% endblock %}
{% block content %}
    <!-- Banner Section Start -->

    <section class="banner-section position-relative">
        <img class="banner-shape" src="static/assets/images/banner/shape1.png" alt="shape" />
        <div class="container">
            <div class="row">
                <!-- Banner-Content Start -->
                <div class="col-md-6">
                    <div class="banner-content banner-padding">
                        <h3 class="title">Blog Details</h3>
                        <p>
                            Pleasure rationally encounter consequences <br />
              are extremely painful great oppurtunity
                        </p>
                    </div>
                </div>
                <!-- Banner-Content End -->

                <!-- Banner-Content Start -->
                <div class="col-md-6 mt-7 mt-md-0">
                    <div class="banner-content scene banner-img">
                        <div data-depth="0.2">
                            <img src="static/assets/images/blog/banner.png" alt="img" />
                        </div>
                    </div>
                </div>
                <!-- Banner-Content End -->
            </div>
        </div>
    </section>
    <!-- Banner Section End -->

    <!-- Blog Section Start -->
    <section class="blog-section section-py">
        <div class="container">
            <div class="row mb-n7">
                <!-- blog-details-content -->
                <div class="col-xl-8 col-lg-8 mb-7">
                    <div class="blog-details-content">
                        <!-- blog-details-thumb -->
                        <div class="blog-details-thumb">
                            <img src="{{post.image.url}}" alt="img" />
                        </div>
                        <!-- blog-details-thumb -->
                        <p class="blog-details-meta">{{post.user.first_name}} - {{post.create_date|date:"d M, Y"}}</p>
                        <h3 class="blog-details-title">
                            {{post.title}}
                        </h3>
                        <div class="blog-details-list">
                            <p>
                                <i class="fa fa-angle-double-right"></i>

                                {% if post.sub_title %}{{ post.sub_title}}{% endif %}
                            </p>
                        </div>
                        <div class="blog-details-grid">
                            {{post.content|safe}}
                        </div>
                        <!-- blog-details-grid end -->
<div class="likes">
    {% if request.user.is_authenticated %}
    <form action="{% url 'blog_like' post.slug %}" method="POST" onclick="submit()">{% csrf_token %}
        <div class="like {% if request.user in post.likes.all %}has{% endif %}"> {{post.likes.count}} <i class="fa-regular fa-thumbs-up"></i> Yoqdi</div>
   </form>
   \
   <form action="{% url 'blog_dislike' post.slug %}" method="POST" onclick="submit()">{% csrf_token %}
      <div class="dislike {% if request.user in post.dislikes.all %}has{% endif %}"> {{post.dislikes.count}} <i class="fa-regular fa-thumbs-down"></i> Yoqmadi</div>
</form>
    {% else %}
    <div class="like"> {{post.likes.count}} <i class="fa-regular fa-thumbs-up"></i> Yoqdi</div> /
    <div class="dislike"> {{post.dislikes.count}} <i class="fa-regular fa-thumbs-down"></i> Yoqmadi</div>
    {% endif %}
  </form>
</div>
                        <!-- social-tags start -->
                        <div class="social-tags d-sm-flex justify-content-between align-items-center">
                            <p class="mb-4 mb-sm-0">
                                <i class="fa fa-tags"></i> {% for tag in post.tags.all %} #{{tag}} {% endfor %}
                            </p>

                            <!-- social links start-->
                            <ul class="social-links d-flex">
                                <li>{{post.category.name}}</li>
                            </ul>

                            <!-- social links end-->
                        </div>
                        <!-- social-tags end -->
                        <!-- blog-comments start -->
                        <div class="blog-comments">
                            <h3 class="blog-comment-title">Izohlar({{comments.count}})</h3>
                            <p class="pb-1">
                                Top rated construction packages we pleasure rationally
                                encounter consequences interesting who loves or pursue or
                                desires to obtain These cases are perfectly simple and easy
                            </p>
                        </div>
                        <!-- blog-comments end -->
                        <!-- authors -->
                        <div class="authors">
                            <!-- author-list start -->
                            {% for cm in comments %}
                            <div class="d-flex flex-wrap" style="margin-bottom:15px">
                                <img src="{{cm.user.picture.url}}" alt="profile" class="author-profile align-self-start" style="width:70px; height:70px; object-fit:cover;" />
                                <div class="author-info">
                                    <h3 class="author-title">{{cm.user.get_full_name}}</h3>
                                    <p class="author-meta">{{cm.date|date:"d.m.Y H:i"}}</p>
                                    <p>
                                        {{cm.content}}
                                    </p>
                                </div>
                            </div>
                            {% endfor %}
                            <!-- author-list end -->
                        </div>
                        <!-- authors -->
                        {% if request.user.is_authenticated %}
                        <!-- blog-comments start -->
                        <div class="blog-comments blog-pt-55">
                            <h3 class="blog-comment-title">Javob yoki Izoh qoldiring</h3>
                            <p>
                                Top rated construction packages we pleasure rationally
                                encounter consequences interesting who loves or pursue or
                                desires to obtain These cases are perfectly simple and easy
                            </p>
                        </div>
                        <!-- blog-comments end -->

                        <!-- form start -->
                        <form id="contactForm"  method="POST" class="row"> {% csrf_token %}
                            <!-- assets/php/contact.php -->
                            <div class="col-12 mb-9">
                                <textarea class="form-control massage-control" name="message" id="massage" cols="30" rows="10" placeholder="Message"></textarea>
                            </div>
                            <div class="col-12">
                                <button id="contactSubmit" type="submit" class="btn btn-lg btn-dark btn-hover-dark" data-complete-text="Well Done!">
                                    Jo'natish
                                </button>
                                <p class="form-message mt-3"></p>
                            </div>
                        </form>
                        {% else %}
                        <div class="blog-comments blog-pt-55">
                            <h3 class="blog-comment-title">Javob yoki Izoh qoldirish uchun iltimos ro'yxatdan o'ting</h3>
                        </div>
                        {% endif %}
   
                        <!-- form end -->
                    </div>
                </div>
                <!-- blog-details-content -->
                <div class="col-xl-3 col-lg-4 mb-7 offset-xl-1">
                    <div class="widget-wrapper widget-wrapper-nl">

                        <!-- sidebar-widget start -->
                        <div class="sidebar-widget">
                            <h3 class="widget-title">Kategoriyalar</h3>
                            <div class="widget-list">
                                <ul class="list-group list-group-flush">
                                    {% for ct in categoryes %}
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        {{ct.name}}<span>{{ct.count_posts}}</span>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <!-- sidebar-widget end -->
                        <!-- sidebar-widget start -->
                        <div class="sidebar-widget">
                            <h3 class="widget-title">Mashhur postlar</h3>
                            <!-- widget-post-list startrt -->
                            {% for pst in popular_post %}
                            <div class="widget-post-list">
                                <a href="#" class="post-thumb">
                                    <img src="{{pst.image.url}}" alt="img" />
                                </a>
                                <div class="widget-post-content">
                                    <h3 class="widget-sub-title">
                                        <a href="{% url 'blog_detail' pst.slug %}">{{pst.title}}</a>
                                    </h3>
                                    <p class="post-meta">{{pst.user.first_name}} - {{pst.create_date|date:"d M, Y"}}</p>
                                </div>
                            </div>
                            {% endfor %}
                            <!-- widget-post-list startrt -->
                        </div>
                        <!-- sidebar-widget end -->


                        <!-- sidebar-widget start -->
                        <div class="sidebar-widget">
                            <h3 class="widget-title">Taglar</h3>
                            <div class="widget-tags">
                                {% for tag in tags %}
                                <a class="widget-tag-link">{{tag.name}}</a>
                                {% endfor %}
                            </div>
                        </div>

                        <!-- sidebar-widget end -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Section ENd -->

    {% endblock %}


