{% extends 'home/main.html' %}{% load static %}
{% block head %}
<title>Profil ma'lumotlari</title>
<link rel="stylesheet" href="{% static 'styles/users/user_profile.css' %}">

{% endblock %}
{% block content %}
<h1 style="margin: 10vw 10vw 0 10vw">Profil ma'lumotlari</h1>
<div  class="profile" style="margin: 0 10vw 10vw 10vw">
    <div class="img">
        <img src="{{ request.user.picture.url }}" width="100" alt="">
    </div>
    <div class="info">
        <div class="full_name">
<p>{{ request.user.get_full_name }}</p>
        </div>
        <div class="edit">
            <div class="change_img btn">
                <form action="" enctype="multipart/form-data" method="POST"> {% csrf_token %}
                    <label class="">
                        <input type="file" name="picture" multiple="" style="display: none;" accept=".png,.jpg" onchange="submit()">
                        <i class="fa-solid fa-camera-rotate"></i>
                    </label>
                </form>
            </div>
            <div class="change_info">
                <a href="{% url 'settings' %}" class="btn"><i class="fa-solid fa-pen"></i>  Tahrirlash</a>
            </div>
        </div>
    </div>
    <div class="info">
        <p style="color: #181c51;">Email: <span>{{ request.user.email }}</span></p>
        <p style="color: #181c51;">Manzil: <span>{{ request.user.location }}</span></p>
    </div>
</div>
{% endblock %}
{% block script %}

{% endblock %}